html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background: rgb(255, 248, 236);
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

ul{
  list-style: none;
}

button:hover{
  cursor: pointer;
  filter: brightness(85%);
}

button:active{
  filter:brightness(120%)
}

main{
  color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto;
  max-width: 1220px;
}

main > .focus{
  width: 600px;
  background-color: white;
  margin-bottom: 15px;
}

main div{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  /* padding: 0 10px; */
  background: white;
  margin-bottom: 10px;
}

main div > h2,
main div > p{
  padding: 0 20px;
}

body > button{
  display:block;
  background-color: rgb(188, 15, 15);
  color:white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  margin: 0 auto 50px auto;
  width: 225px;
  height: 50px;
  border-radius: 5px;
}

footer{
  background-color: rgb(38, 40, 42);
  padding: 20px 0;
}

.focus > h2,
.focus > p{
  padding: 0 20px;
  
}

.readMore{
  color:rgb(188, 15, 15);
  bottom:0;
}

.imagePlaceholder.focus{
  height: 200px;
  width: 600px;
  background: gray;
}

.imagePlaceholder{
  height: 200px;
  width: 400px;
  background: gray;
}

.social{
  background-color:rgba(255, 255, 255, .7);
  height: 18px;
  width: 18px;
  color:white;
}

.leftContainer{
  display:flex;
  flex-direction: column;
  padding: 20px 25px;
}

.leftContainer > button{
  width: 320px;
  height: 50px;
  background-color: rgb(21, 121, 188);
  color:white;
  font-size: 19.2px;
  font-weight: 700;
  border: none;
  margin-top: 25px;
}

.heroBottomContainer{
  display:flex;
  justify-content: space-between;
  margin-right:150px;
  margin-top:100px;
  width:1200px;
  padding-bottom: 30px;
}

.heroBottomContainer > div{
  /* width: 250px;
  height: 150px; */
  background-color: white;
  color:black;
  font-size: 26px;
  font-weight: 700;
  padding: 10px 0px 10px 10px;
  width:280px;
  border-radius: 5px;
}

.heroBottomContainer > div:first-child{
  color:rgb(21, 121, 188);
}

.heroBottomContainer > div:nth-child(2){
  color: rgb(139, 75, 204);
}
.heroBottomContainer > div:nth-child(3){
  color: rgb(196, 26, 31);
}
.heroBottomContainer > div:nth-child(4){
  color: rgb(240, 85, 35);
}

.bottomNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto;
}

.botNavHeader{
  font-size: 12px;
  font-weight: 700;
  color: rgb(151, 154, 164);
}

.botNavLink{
  font-size: 14px;
  font-weight: 700;
  color:white;
  line-height: 0.8;
}

#legal{
  background: black;
  margin: 0;
}

#footerLinks{
  display:flex;
  justify-content: space-between;
  width: 600px;
}

#header > ul{
  display:flex;
  justify-content: space-between;
  width: 170px;
}

#header > img{
  height:60px;
}

#header {
  display:flex;
  justify-content: center;
  background-color: #000;
  height: 64px;
  color:white;
  align-items: center;
  border-bottom: 1px solid red;
}

#header > * {
  padding: 0px 20px;
}

#signIn{
  background-color: transparent;
  color:white;
  border: none;
  width: 100px;
  /* padding: 9px 20px; */
}
#header > button:last-child{
  background-color: rgb(188, 15, 15);
  color:white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  width: 150px;
  height: 40px;
  margin-left: 20px;
}

#header input{
  width: 468px;
  height: 40px;
  background: transparent;
  border:none;
  color: rgba(255,255,255,.5);
  font-size: 18px;
  font-weight: bold;
  margin-right: 50px;
  outline:none;
}

#topNav{
  height:50px;
  background-color: rgb(38, 40, 42);
}

#topNav >ul{
  display:flex;
  align-items: center;
  gap: 15px;
  margin: 0 0 0 180px;
  color: rgb(165, 175, 186);
}

#topNav li{
  margin: 0 10px;
}

#hero{
  color: white;
  padding-left: 140px;
  background: black;
  /* margin-top: 50px; */
}

#hero h1{
  font-size: 48px;
  font-weight: 700;
}
#hero h3{
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}

#hero .leftContainer *{
  max-width: 550px;
}
